  <div class='plant'>
  <dl>
    <h2>Plant!</h2>
    <dt>Plant: <%= @plant.name %></dt>
    <dd>Frost Date: <%= @plant.frost_date%></dd>
    <dd>Maturity: <%= @plant.maturity%></dd><br>
    </div>
  </dl>
